@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
.header {
  padding-top: 56px;
}
.header__body {
  width: 100%;
  height: 100vh;
  font-family: "Inconsolata", monospace;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.header__bg img {
  width: 100%;
}
.header__logo {
  position: relative;
  z-index: 2;
}
.header__column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 0px;
}
.header__list {
  position: relative;
  height: 25px;
  text-align: center;
}
.header__list::before,
.header__list ::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -5px;
  height: 2px;
  width: 0;
  background-color: #FFFFFF;
  transition: width 0.3s ease;
}
.header__list::before {
  top: 30px;
  left: 0px;
}
.header__list::after {
  position: absolute;
  bottom: 0;
  right: 0;
}
.header__list:hover::before,
.header__list:hover ::after {
  width: 100%;
}
.header__list-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: #FFFFFF;
}
.header__mail {
  height: 21px;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 177px;
  z-index: 2;
}
.header__mail::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 25px;
  height: 1px;
  width: 0;
  background-color: #FFFFFF;
  transition: width 0.3s ease;
}
.header__mail::after {
  position: absolute;
  bottom: 0;
  right: 0;
}
.header__mail:hover::before,
.header__mail:hover ::after {
  width: 100%;
}