@import './nullstyle.css';
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
.App {
  font-family: "Inconsolata", monospace;
  background-color: #191919;
}
.App .container {
  width: 100%;
  padding: 0 100px;
  background-color: #191919;
}