// Imports
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

// Templates

$color1: #FFFFFF;
$color2: #000000;
$color3: #D9D9D9;
$color4: #191919;

$ff1: 'Oswald',
sans-serif;
$ff2:'Inconsolata',
monospace;

$tr: 0.35s;